body {
  background-image: url("../Assets/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}
.img1{
  width: 10%;
  position: absolute;
  right: 350px;
  top: 550px;
}
.img2{
  width: 10%;
  position: absolute;
  left: 900px;
  top: 550px;
  transform: scaleX(-1);
}